@page "{id:int}"
@model Bookstore.Web.Pages.BookModel

<div class="row">
    <div class="col-md-3">
        @if (Model.Book.CoverImage != null)
        {
            <img
 src="@($"data:image/png;base64,{Convert.ToBase64String(Model.Book.CoverImage)}")" />
        }
        else
        {
            <img src="~/images/placeholder.png" />
}
    </div>
    <div class="col-md-9">
        <h2>@Model.Book.Title</h2>
        <p>@Model.Book.Description</p>
        <p>Цена: @Model.Book.Price</p>
        <button class="btn btn-primary">Добави в количката</button>
    </div>
</div>
<table class="table">
    <tbody>
        <tr>
            <td>Издател</td>
            <td>@Model.Book.Publisher</td>
        </tr>
        <tr>
            <td>ISBN</td>
            <td>@Model.Book.ISBN</td>
        </tr>
        <tr>
            <td>Година</td>
            <td>@Model.Book.PublishingYear</td>
        </tr>
        <tr>
            <td>Език</td>
            <td>@Model.Book.Language.Name</td>
        </tr>
        <tr>
            <td>Автори</td>
            <td>
                <ul>
                    @foreach (var author in Model.Book.Authors)
                    {
                        <li>@author.FullName</li>
                    }
                </ul>
            </td>
        </tr>
        <tr>
            <td>Жанрове</td>
            <td>
                <ul>
                    @foreach (var genre in Model.Book.Genres)
                    {
                        <li>@genre.Name</li>
                    }
                </ul>
            </td>
        </tr>
    </tbody>
</table>
